
div.azul{
    background-color: blue;
    margin-right: 10%;
}
h1{
    color: yellow;
    text-align: center;
    
}
p.primero{
    margin-right: 60%;
    background-color: aquamarine;
    
}

p.segundodelsegundo{
    background-color: black;
    line-height: 200%;
    font-family: 'PottaOne', sans-serif;
    color: yellow;
    margin-left: 41%;
    
}

@font-face{
    font-family: PottaOne;
    src: url(/Potta_One/PottaOne-Regular.ttf);
    font-family: YuseiMagic;
    src: url(/Yusei_Magic/YuseiMagic-Regular.ttf);
}
span.tercero{
    font-family: "Coda", serif;
    font-weight: 600;
    font-style: normal;
}
span.cuarto{
    font-family: 'YuseiMagic', sans-serif;
    
}
body{
    margin-left: 5%;
    margin-right: 5%;
}
hr{
    margin-left: 20%;
    margin-right: 20%;
}
/* div.izquierda{
    float: left;
    
}
div.derecha{
    float: right;
} */
div.todo{
    display: inline-block;
}
